h1 {
	background-color: red;
}

.navbar {
  border-bottom: #088ed6 3px solid;
  opacity: 0.8;
    display: flex;
  justify-content: center;
  align-items: center;
  background-color:#667eea;
  height:15%;

}
.navItems{
	display: flex;
	 flex-direction: row;
	 
}

.nav-link{
	margin-left:50px;
	transition: all 0.3s;
}

.nav-link:hover{
    background-color: #5568d3;
    transform: translateY(-2px);
}


.dropdown:hover .dropdown-menu {
  display: block;
 
}

.dropdown-menu {
	display: none;
}
.dropdown-menu:hover{
	  display: flex;
  align-content: center;
}

img {
	width: 20px;
}
.Parent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1000px;
  height: 1000px;
  position:relative;
  background-color: aqua;
  background-image:url("Images/annotatedMap.jpg");
  background-repeat: no-repeat;

}
.Red {
  position: absolute;
  top: 86%;
  left: 11%;
  font-size: 20px;
  background-color: red;
  width: 20px;
  height:20px;
}

.Red:hover{
	background-color: blue;
	
}
.Green{
	background-color:green;
	 position: absolute;
	   top: 61%;
  left: 77%;
    width: 20px;
  height:20px;
}

.Blue{
		background-color:blue;
	 position: absolute;
	   top: 23%;
  left: 20%;
    width: 20px;
  height:20px;
	
}