/*04-29-2026--NEW Css bt Trevor*/
body {

}

/*04-29-2026--NEW Css bt Trevor*/

h1 {
	background-color: red;
}
.navbar {
  border-bottom: #088ed6 3px solid;
    display: flex;
  justify-content: center;
  align-items: center;
  background-color:#C35214;
  height:75px;
position:relative;
}
.navItems{
	display: flex;
	 flex-direction: row;
	 
}
.dropdown-item:hover{
	background-color:#008000;
}
.nav-link{
	margin-left:50px;
	transition: all 0.3s;
}
.nav-link:hover{
    background-color: #5568d3;
    transform: translateY(-2px);
}
.dropdown:hover .dropdown-menu {
  display: block;
  position:absolute;
}

.dropdown-menu {
	display: none;
}
.dropdown-menu:hover{
	  display: flex;
  align-content: center;
 
}

img {
	width: 20px;
}


form{
	display: column;
	justify-content: center;
	align-items: center;
	
}